<% resource_name.to_s.humanize %>

<section class="" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">


<div class="form-panel">
      <!--<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4"> center-->
        
      <h3 class="mb"><i class="fa fa-angle-right"></i> >> ویرایش اطلاعات</h3>
      
      <!--form_for :user, @user, :url => { :action => :prompt_user } do |f|-->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {class: "" }) do |f| %>
          <%= devise_error_messages! %>
          <!---->
          <div class="form-group">

            <div class=" col-xs-6 col-sm-6 col-md-6">
              <%= f.label :lastname %>
              <%= f.text_field :lastname, class: "form-control" %>
            </div>
            <div class=" col-xs-6 col-sm-6 col-md-6">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
          </div>

          <div class="form-group box_size" >
            <%= f.label :username %>
            <%= f.text_field :username, autocomplete: "off", class: "form-control" ,:readonly=> true %>
          </div>
          <div class="form-group box_size">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <br>
          <br>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>


          <div class="actions">
            <%= f.submit "اعمال تغییرات", class: "btn btn-primary btn-lg" %>
          </div>



      <% end %>


  </div>
</section>


