<!be name anke parvane heirane ust..>
<div id="login-page" style="background-color: #b22222">
  <div class="container">
    <div >
      <div class="login-screen">
       
        <div class="form-login">


              <h2 class="form-login-heading">ثبت نام در اسم فامیل</h2>
              </br>
        
          
                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-horizontal") do |f| %>
                  <%= devise_error_messages! %>
            
                  <div class= "login-form">
                    <div class="login-wrap">
                        
                      <%= f.text_field :name, class: "form-control" , :placeholder=> "نام"%>
                      <br>
                      <%= f.text_field :lastname, class: "form-control" , :placeholder=> "نام خانوادگی"%>
                      <br>
                      <%= f.text_field :username, autocomplete: "off", class: "form-control" , :placeholder=> "نام مستعار"%>
                      <br>
                      <%= f.email_field :email, autofocus: true, class: "form-control" , :placeholder=> "ایمیل"%>
                      <br>
                      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" , :placeholder=> "رمز عبور"%>
                      <br>
                      <%= f.password_field :password, autocomplete: "off", class: "form-control" , :placeholder=> "تکرار رمز عبور"%>
                      <br>
                      <h5>تاریخ تولد</h5>
                      <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4">
                        <%= f.select :birth_day, options_for_select((1..30).step(1)),{:include_blank => true, :prompt=>'روز'}, {:class=>"form-control fullwidth"} %></div>
                          <div class="col-xs-4 col-sm-4 col-md-4">
                          <%= f.select :birth_month, options_for_select((1..12).step(1)), {:include_blank => true, :prompt=>'ماه'},{:class=>"form-control fullwidth"}  %></div>
                           <div class="col-xs-4 col-sm-4 col-md-4">
                          <%= f.select :birth_year, options_for_select((1300..1386).step(1)),{:prompt=>'سال'}, {:class=>"form-control fullwidth"}  %> </div>
                      </div>
        
                      <h5>لطفا عبارت زیر را وارد کنید</h5>
                <p><%= captcha_tag %></p>
                <p><%= text_field_tag :captcha %></p>


                        <%= f.submit "ثبت نام", class: "btn btn-info btn-block " %>
                        <%= render "devise/shared/links" %>
                    </div>
                  </div>
              <% end %>

        </div><!--tahe form login-->
      </div>
    </div>
  </div>
</div>
