<div class="game-boards">

<%= form_for @game_board, url: {action: "calculate_score"}, html: {method: "get"} do |f| %>
	<p id="notice"><%= notice %></p>



	
	<% @game = Game.find(@game_board.game_id) %>

		<% @game.round_letters.each do |round| %>
		  <%  if   round.round_number == @game.number_of_rounds  then
				@last_letter = round.letter
			  end
		  %>
		<% end %>

	<div class="col-md-4">
	</div>
	<div class="col-md-4 random_letter">
			<%= @last_letter %>
	</div>
	<div class="col-md-4">
	</div>

	<br/>
	<br/>
	<br/>
	<br/>

	<table id ="table">
		<thead>
			<td>نام</td>
			<td>نام خانوادگی</td>
			<td>شهر</td>
			<td>کشور</td>
			<td>خوراک</td>
			<td>حیوان</td>
			<td>اشیاء</td>
		</thead>	
		<tr>
			<td><%= f.text_field :Name, :class=>"Class" %></td>
			<td><%= f.text_field :LastName, :class=>"Class" %></td>
			<td><%= f.text_field :City, :class=>"Class" %></td>
			<td><%= f.text_field :Country, :class=>"Class" %></td>
			<td><%= f.text_field :food, :class=>"Class" %></td>
			<td><%= f.text_field :animal, :class=>"Class" %></td>
			<td><%= f.text_field :object, :class=>"Class" %></td>
		</tr>
	</table>
	<%= f.submit 'استپ', :id=>"Submit", :class=>"btn disabled" %>
<% end %>	
<!-- <%= link_to 'Edit', edit_game_board_path(@game_board) %> |
<%= link_to 'Back', game_boards_path %> -->
</div>



<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
<script>
$(document).ready(function(){
	
	var toValidate = jQuery('table .Class'), valid = false;
	toValidate.keyup(function () {
    	if (jQuery(this).val().length > 0) {
        	jQuery(this).data('valid', true);
    	} else {
        	jQuery(this).data('valid', false);
    	}
		valid = true;
    	toValidate.each(function () {
        	if (jQuery(this).data('valid') == undefined) {
            	valid = false;
        	} 
			if (jQuery(this).data('valid') == false) {
            	valid = false;
        	} 
    	});
    	if (valid === true) {
        	jQuery("#Submit").removeClass('disabled');
    	} else {
        	jQuery("#Submit").addClass('disabled');
    	}
	});

	window.setInterval(function() {
        $.ajax({
            url: "/games/<%= @game_board.game_id %>/isSubmit",
            context: document.body
            }).done(function(res) {
                if (res=="1"){
                    $("#edit_game_board_<%= @game_board.id %>").submit();
                }
            }); 
    }, 1000);
});

</script> 