

<br><br>
<div class="container jumbotron"style="width:50%; height:70%; direction:rtl">
<%= form_for News.new , :html => {:class => "form-horizontal", :role => "form"} do |f| %>

<div class="form-group">
  <div>
  <%= f.label 'عنوان'%>

    <%= f.text_field :title ,:style => "width:70%",:class => "form-control"%>
  </div>
</div>

<div class="form-group">
  <div>
  <%= f.label 'متن'%>
    <%= f.text_area :content, :rows => 10  ,:style => "width:70%",:class => "form-control" %>
  </div>
</div>

  <div>
    <%= content_tag :button, :type => :submit, :class => "btn btn-info btn-medium btn-lg btn-primary btn-purple-color" do %>
    <i class="icon-ok bigger-110"></i>
    <%=t :submit%>
    <% end %>

    </div>
<% end %>
  <br><br><br>
 </div>