<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="form-group">
    <h4>تعداد مراحل</h4>
    <%= f.number_field :number_of_rounds  %>
  </div>
  <div class="form-group">
    <h4>تعداد بازی کنان</h4>
    <%= f.number_field :number_of_players %>
  </div>
  <div class="form-group" >
       <%= f.hidden_field :is_private, :value => params[:is_private] %>
  </div> 
  <br/><br/><br/>
 <div class="actions">
            <%= f.submit "ایجاد بازی", class: "btn btn-theme04 btn-lg" %>
          </div>
<% end %>
