<br><br><br>


        <!-- One -->
<section class="wrapper style2 container special-alt">
  <div class="row 50%">
      <div class="8u 12u(narrower)">

        <header>
            <h2>لیست بازی ها</h2>
        </header>
        <table class="responstable">
          <tbody>

          <tr>
            <th>شماره بازی</th>
            <th>ایجاد کننده</th>
            <th>تعداد بازکنان</th>
            <th>تعداد دورها</th>
          </tr>
          <% @games.each do |game| %>

              <tr>
                <td><%=link_to game.id, game  %></td>
                <td><%= game.creater.username %></td>
                <td><%= game.number_of_players %></td>
                <td><%= game.number_of_rounds %></td>
				<td><%= link_to game_rosters_path(:game_id => game, :player_id => current_user), :method => :post do %>
    پیوستن به بازی
<% end %><td>
              </tr>
          <% end %>

          </tbody>
        </table>
        <br>
        <footer>
          <ul class="buttons">
            <li><a href="/games/new" class="button">بازی جدید</a></li>
          </ul>
        </footer>

      </div>
      <div class="4u 12u(narrower) important(narrower)"> </div>
  </div>
</section>




