<p id="notice"><%= notice %></p>


    <header class="special container">
      <span class="icon fa-tablet"></span>
      <h2>نمایش <strong>اطلاعات بازی</strong></h2>
        
    </header>
<br><br><br>
<section class="wrapper style2 container special-alt">
            <div class="row 50%">
              <div class="8u 12u(narrower)">

                <header>
                  <h2>بازی هنوز شروع نشده است</h2>
                </header>


<!-- Generate Random Letter  -->

                <% 

@all_letters = ["الف/آ" , "ب" , "پ" , "ت" ,"ث" , "ج" , "چ" , "ح" , "خ" , "د" , "ذ" , "ر"  , "ز" , "ژ" , "س" , "ش" , "ص" , "ض" , "ط" , "ظ" , "ع" , "غ" , "ف" , "ق" , "ک" , "گ" ,   "ل" , "م" , "ن" , "و" , "ه" , "ی" ] 
%>


 <% 

           @repetitive=true
          if  @game.number_of_rounds > 30 then 
                 @random_letter = @all_letters.sample
          else 
              while  @repetitive == true  do
                     @random_letter = @all_letters.sample
                  if @game.round_letters.exists?( :game_id => @game.id , :letter => 
                    @random_letter) then
                    @repetitive =true
                  else @repetitive =false
                  end
               end
         end
        %>

               <%= render 'generateLetter' %> 
                
                <%= @random_letter %>
                <br/>
                <% @game.round_letters.each do |round| %>
                    <tr>
                      <td><%= round.letter %></td>
                      <td><%= round.game_id %></td>
                      <br/>
                    </tr>
                <% end %>
                
<!-- generate Random Letter Finished -->



	                <div id="players">
						<%= render 'playerstable' %>
					</div>
                
<br>
                <footer>
                  <ul class="buttons">
                    <li><a href="/games/new" class="button">بازی جدید</a></li>
                  </ul>
                </footer>


                <%= render 'join'%>
                </div>
                  <div class="4u 12u(narrower) important(narrower)">

                

              </div>
            </div>
          </section>

