<!DOCTYPE html>
<html>
<head>
  <title>Efgame</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- Header -->
      <header id="head" class="reveal">
        <h1 id="logo"><a href="index.html">اسم فامیل<span>یه بازیه هیجان انگیز</span></a></h1>
        <nav id="nav">
          <ul>   
            <li><% if user_signed_in? %>
                        <%= link_to "خروج", destroy_user_session_path, :method => :delete %>
                  
                <% end %>
              </li>
            <li><a href="../../games">خانه</a></li>
			<li><a href="../../users/ranking">رتبه بندی افراد</a></li>
            <li><a href="../../games">بازی ها</a></li>
              <li class="button special">
                <% if user_signed_in? %>
                      <a href="../../users/edit"><%= current_user.name%></a>
                  <% else %>
                      <a href="../../users/sign_in">ورود</a>

                <% end %>
              </li>
                        
            

          </ul>
        </nav>
      </header>
<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<!---footer-->
<footer id="footer">

        <ul class="icons">
          <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
          <li><a href="https://github.com/zeinabm/EFGame" class="icon circle fa-github"><span class="label">Github</span></a></li>
          <li><a href="https://Trello.com" class="icon circle fa-github"><span class="label">Trello</span></a></li>
        </ul>

        <ul class="copyright">
          <li>&copy; آزمایشگاه نرم افزار</li><li>طراحی: <a href="http://html5up.net">گروه شماره ۵</a></li>
        </ul>

</footer>
<% if user_signed_in? %>
 	<% current_user.game_boards.each do |board|%>
		<%= subscribe_to "/#{board.id}/join" %>
	<% end%>
<% end %>
</body>
</html>


